@media (max-width: 1439px) {
    .about {
        &__wrapper {
            grid-template-columns: 380px 670px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .sidepanel {
        display: none;
    }
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 360px 500px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 20px 20px 0 0;
            column-gap: 50px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 240px);
            grid-auto-rows: 240px;
            justify-content: space-around;
            row-gap: 70px;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 390px 440px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
        padding: 0 10px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 370px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 300px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            column-gap: 45px;
            grid-template-columns: repeat(2,290px);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 225px);
            grid-auto-rows: 200px;
            justify-content: space-around;
            row-gap: 70px;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 250px 250px;
        }
        &__subtitle {
            font-size: 23px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        padding: 0px 0 0 0px;
    }
    .title {
        &__fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
            color: $main-color;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 1fr;
            column-gap: 60px;
            row-gap: 40px;
        }
    }
    .contacts {
        padding: 70px 0 50px 0;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &__fz48 {
            font-size: 26px;
        }
        &__fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 15px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__subtitle {
            font-size: 32px;
        }
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 5px 0 5px;
        }
    }
    .contacts {
        &__photo {
            display: none;
        }
    }
}